*{
   box-sizing: border-box;
}
header{
    width: 1500px;
    height: 0 auto;
    background-color: darkgrey;
    margin: 0 auto;
    text-align: center;
   
}
header img{
    height: 100%;
}
nav{
    width: 1500px;
    height: 50px;
    background-color:lightgray;
    margin: 0 auto;
    margin-top: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 5s;
}
nav a{
    color: darkkhaki;
    text-decoration: none;
    font-size: large;
    font-family: "Shadows Into Light", serif;
    padding: 10px 20px;
}
nav a:hover{
    background-color: brown;
}
main{
    width: 1500px;
    height: 10000px auto;
    background-color: lightgoldenrodyellow;
    margin: 0 auto;
    background-image: url(../imagenes/Grieta.avif);
    background-repeat: no-repeat;
    background-size: cover;
}
.personaje{
    width:0 auto;
    height:0 auto;
    background-color: gray;
    margin-top: 20px;
  margin-left: 33px;
  display: inline-block;
}
.foto{
    width: 400px;
    height: 400px;
    background-color: gray;
    float:left;
    margin-left: 33px;
    text-align: center;
}
.foto img{
    height: 100%;
}
.texto{
    width: 950px;
    height: 400px;
    background-color: rgb(255, 202, 105);
    float: left;
    margin-left: 33px;
    padding: 20px;
    font-family: "Raleway", serif;
}

footer{
    width: 1500px;
    height: 150px;
    background-color:rgb(36, 36, 36);
    margin: 0 auto;
}